<header>
  <div class="h-container">
    <div class="h-left">
      <%= link_to root_path do %>
        <div class="title-logo">
          <h2><span>C</span>ode-<span>T</span>yping</h2>
        </div>
      <% end %>
    </div>
    <div class="h-center">
      <h4 class="ranking">
        ランキング
        <ul class="dropdown">
          <%= link_to html_path do%>
            <li class="li-big">HTML</li>
          <% end%>
          <%= link_to css_path do%>
            <li class="li-big">CSS</li>
          <% end%>
          <%= link_to javascript_path do%>
            <li class="li-big">JavaScript</li>
          <% end%>
          <%= link_to vue_path do%>
            <li class="li-big">vue.js</li>
          <% end%>
        </ul>
        <ul class="dropdown">
          <li>Ruby</li>
          <li>php</li>
          <li>python</li>
          <li>Java</li>
        </ul>
      </h4>
    </div>
    <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do%>
      <p class="h-btn">ログアウト</p>
    <% end %>
    <% else %>
    <ul class="h-right">
      <%= link_to new_user_session_path do%>
        <li class="h-btn">ログイン</li>
      <% end %>
      <%= link_to new_user_registration_path do%>
        <li class="h-btn">新規登録</li>
      <% end %>
    </ul>
    <% end %>
  </div>
</header>