<div class="body">
<%= render 'shared/header' %>
<%# パンくず %>
  <div class="pankuzu">
    <div class="p-container">
      <%= link_to "トップページ", root_path %>
      <i class="fas fa-chevron-right"></i>
      <p>JavaScript</p>
    </div>
  </div>
<%# ここまで %>
  <div class="title">
    <%= image_tag "top.images/JavaScript.png" %>
    <h1>JavaScript</h1>
  </div>
  <div class="imgs">
    <div class="img">
      <%= render partial: 'shared/rank', locals: { lang: @js1 } %>
      <%= link_to game1_javascripts_path do %>
        <%= image_tag "js.images/fizzbuzz.png" %>
      <% end %>
      <p class="u-bar">GAME1<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
  <div class="imgs">
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
</div>