<div class="body">
<%= render 'shared/header' %>
  <div class="shadow"></div>
  <div class="title">
    <h1> </h1>
  </div>
  <div class="imgs">
    <div class="img">
      <%= link_to htmls_path do %>
        <%= image_tag "top.images/html.png" %>
      <% end %>
      <p class="u-bar">1 GAME<p>
    </div>
    <div class="img">
      <%= link_to csses_path do %>
        <%= image_tag "top.images/css.png" %>
      <% end %>
      <p class="u-bar">1 GAME</p>
    </div>
    <div class="img">
      <%= link_to javascripts_path do %>
        <%= image_tag "top.images/JavaScript.png" %>
      <% end %>
      <p class="u-bar">1 GAME</p>
    </div>
    <div class="img">
        <%= image_tag "top.images/jQuery.png" %>
      <p>coming soon..</p>
    </div>
  </div>
  <div class="imgs">
    <div class="img">
      <%= image_tag "top.images/Ruby.png" %>
      <p>coming soon..</p>
    </div>
    <div class="img">
      <%= image_tag "top.images/php.png" %>
      <p>coming soon..</p>
    </div>
    <div class="img">
      <%= image_tag "top.images/Python.png" %>
      <p>coming soon..</p>
    </div>
    <div class="img">
      <%= image_tag "top.images/Java.png" %>
      <p>coming soon..</p>
    </div>
  </div>
</div>