<div class="body">
<%= render 'shared/header' %>
<%# パンくず %>
  <div class="pankuzu">
    <div class="p-container">
      <%= link_to "トップページ", root_path %>
      <i class="fas fa-chevron-right"></i>
      <p>ランキング</p>
    </div>
  </div>
<%# ここまで %>
  <div class="shadow2"></div>
  <div class="g-container">
    <div class="title g-title">
      <%= image_tag "top.images/html.png" %>
      <h1>HTMLランキング</h1>
    </div>
    <h2><%= current_user.username %>さんの順位<br><span class="g-big"><%= @user_id.index(current_user.id) + 1 %></span> / <%= @user_id.length %> 位</h2>

    
      <ul class="g-flex">
        <li class="g-space left">順位</li>
        <li class="g-space center">ユーザー名</li>
        <li class="g-space right">スコア</li>
      </ul>

    <% num = (@pages.current_page - 1) * @pages.limit_value %>
    <% @pages.each_with_index do |page, index| %>
      <ul class="g-flex g-hover">
        <% if current_user.username == User.find_by(id: page[0]).username %>
        <li class="g-bar strong left"><%= num + 1 + index %>位</li>
        <li class="g-bar strong center"><%= User.find_by(id: page[0]).username %></li>
        <li class="g-bar strong right"><%= page[1] %></li>
        <% else %>
        <li class="g-bar left"><%= num + 1 + index %>位</li>
        <li class="g-bar center"><%= User.find_by(id: page[0]).username %></li>
        <li class="g-bar right"><%= page[1] %></li>
        <% end %>
      </ul>
    <% end %>
    <%= paginate(@pages) %>
  </div>
</div>