<div class="body">
  <%= render 'shared/logo' %>

  <div class="l-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :username, autofocus: true, placeholder: "ユーザー名" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
    <p>登録されていない方はこちら</p>
    <%= link_to new_user_registration_path do%>
      <button>新規登録</button>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>