<div class="body">
<%= render 'shared/header' %>
<%# パンくず %>
  <div class="pankuzu">
    <div class="p-container">
      <%= link_to "トップページ", root_path %>
      <i class="fas fa-chevron-right"></i>
      <p>HTML</p>
    </div>
  </div>
<%# ここまで %>
  <div class="title">
    <%= image_tag "top.images/html.png" %>
    <h1>HTML</h1>
  </div>
  <div class="imgs">
    <div class="img">
      <%= link_to game1_htmls_path do %>
        <%= image_tag "html.images/helloworld.png" %>
      <% end %>
      <p class="u-bar">GAME1<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
  <div class="imgs">
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
</div>