<div class="body">
<%= render 'shared/header' %>
<%# パンくず %>
  <div class="pankuzu">
    <div class="p-container">
      <%= link_to "トップページ", root_path %>
      <i class="fas fa-chevron-right"></i>
      <%= link_to "CSS", csses_path %>
      <i class="fas fa-chevron-right"></i>
      <p>GAME1</p>
    </div>
  </div>
<%# ここまで %>
<%# ここから固定 %>
  <div class="shadow2"></div>
  <%= render 'shared/game' %>
      <% if user_signed_in? %>
        <%= form_with(url: csses_path, local: true) do |f| %>
          <%= f.hidden_field :score, id: "myscore" %>
          <%= f.hidden_field :game, value: "css1" %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "登録する", id: "r-submit" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="editor">
    <%= render 'shared/e-number' %>
    <div class="game-right">
<%# ここまで %>
      <%= render 'shared/e-head' %>
      <p id="code">&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="container"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="left"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="red box"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="blue box"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="right"&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="yellow box"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="green box"&gt;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
        &nbsp;&nbsp;&lt;/body&gt;<br>
        &lt;/html&gt;
      </p>
    </div>
  </div>
</div>
<%# jsタグ %>
<%= javascript_include_tag 'css-game1.js' %>