<div class="body">
<%= render 'shared/header' %>
<%# パンくず %>
  <div class="pankuzu">
    <div class="p-container">
      <%= link_to "トップページ", root_path %>
      <i class="fas fa-chevron-right"></i>
      <p>CSS</p>
    </div>
  </div>
<%# ここまで %>
  <div class="shadow2"></div>
  <div class="title">
    <%= image_tag "top.images/css.png" %>
    <h1>CSS</h1>
  </div>
  <div class="imgs">
    <div class="img">
      <%= render partial: 'shared/rank', locals: { lang: @css1 } %>
      <%= link_to game1_csses_path do %>
        <%= image_tag "css.images/css-game1.gif" %>
      <% end %>
      <p class="u-bar">GAME1<p>
    </div>
    <div class="img">
      <%= render partial: 'shared/rank', locals: { lang: @css2 } %>
      <%= link_to game2_csses_path do %>
        <div class="soon g-title"><h2>Random<br>Words</h2></div>
      <% end %>
      <p class="u-bar">GAME2<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
  <div class="imgs">
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
    <div class="img">
      <div class="soon"></div>
      <p>coming soon..<p>
    </div>
  </div>
</div>